﻿@model ICollection<AuthenticationClientData>

@using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        @foreach (AuthenticationClientData p in Model)
        {
            <div class="col-sm-3">
                <button type="submit" name="provider" class="btn btn-lg btn-block @p.AuthenticationClient.ProviderName" value="@p.AuthenticationClient.ProviderName" title="Войдите, используя свою учетную запись @p.DisplayName">@p.DisplayName</button>
            </div>
        }
    </fieldset>
}

