﻿@model ICollection<LinkExchange.Models.ExternalLogin>

@if (Model.Count > 0)
{
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">Привязанные учетные записи</p>
            </div>
            <div class="panel-body">
                <table >
                    <tbody>
                        @foreach (LinkExchange.Models.ExternalLogin externalLogin in Model)
                        {
                            <tr>
                                <td>@externalLogin.ProviderDisplayName</td>
                                <td>
                                    @if (ViewBag.ShowRemoveButton)
                                    {
                                        using (Html.BeginForm("Disassociate", "Account"))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="col-md-offset-11 col-md-1">
                                                @Html.Hidden("provider", externalLogin.Provider)
                                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                                <input type="submit" value="Удалить" title="Удалите эти учетные данные @externalLogin.ProviderDisplayName из своей учетной записи" />
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        @: &nbsp;
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
     </div>
}
