﻿@{
    ViewBag.Title = "Ошибка при входе";
}
<div class="container">
        <h1 class="page-header">@ViewBag.Title.</h1>
        <h2>Не удалось войти через службу.</h2>
        @Html.ActionLink("Назад", "Index", "Home", routeValues: new { area = "" }, htmlAttributes: new {@class = "btn btn-danger btn-lg", title = "Назад" })
</div>

