﻿@model LinkExchange.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Регистрация";
}
<div class="container">
    <h1 class="page-header">Свяжите свою учетную запись в @ViewBag.ProviderDisplayName.</h1>
    <p>Введите имя пользователя на этом сайте ниже и нажмите кнопку "Подтвердить", чтобы завершить вход.</p>
    <div class="col-md-4">
    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Логин" })
            </div>

            @Html.HiddenFor(m => m.ExternalLoginData)
            <input class="btn btn-success" type="submit" value="Регистрация" />
        </fieldset>
        @Html.ValidationMessageFor(m => m.UserName)
    }
        </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
