﻿@model LinkExchange.Models.LocalPasswordModel
@{
    ViewBag.Title = "Управление учетной записью";
}
<div class="container">
    <div class="row">
        <h1 class ="page-header">@ViewBag.Title</h1>
    </div>

    <p class="message-success">@ViewBag.StatusMessage</p>
    <div class="row">
        @if (ViewBag.HasLocalPassword)
        {
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <p class="panel-title">Смена пароля</p>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { id = "changePasswordForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Старый пароль" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Новый пароль" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Повторите новый пароль" })
                                </div>
                                <input class="btn btn-block btn-success" type="submit" value="Смена пароля" />
                            </fieldset>
                            @Html.ValidationSummary()
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>У вас нет локального пароля для этого сайта. Добавьте локальный пароль, чтобы входить без внешней учетной записи.</p>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <p class="panel-title">Установить пароль</p>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Manage", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Новый пароль" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Повторите новый пароль" })
                                </div>
                                <input class="btn btn-block btn-success" type="submit" value="Задать пароль" />
                            </fieldset>
                        }
                        @Html.ValidationSummary()
                    </div>
                </div>
            </div>
        }

        @Html.Action("RemoveExternalLogins")
    </div>
    <div class="row sb">
        <h3>Добавить внешнюю учетную запись</h3>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}