﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
@{
   <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
   <div class="sidebar">
    <ul class="nav nav-tabs nav-stacked">
        <li style="cursor:pointer" id="panel" class="active">
            <a data-bind="click:panel">
                <div>
                    <div><i class="fa fa-3x fa-home"></i></div>
                    <div>Панель</div>
                </div>
            </a>
        </li>

        <li style="cursor:pointer" id="order">
            <a data-bind="click:order">
                <span class="badge m-badge-notification">3</span>
                <div>
                    <div><i class="fa fa-3x fa-paperclip"></i></div>
                    <div class="title">Заявки</div>
                </div>
            </a>
        </li>

        <li style="cursor:pointer" id="campaign">
            <a data-bind="click:campaigns">
                <div>
                    <div><i class=" fa fa-3x fa-coffee"></i></div>
                    <div class="title">Кампании</div>
                </div>
            </a>
        </li>
        <li style="cursor:pointer" id="search">
            <a data-bind="click:search">
                <div>
                    <div><i class=" fa fa-3x fa-search"></i></div>
                    <div class="title">Поиск площадок</div>
                </div>
            </a>
        </li>
    </ul>
</div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Панель рекламодателя</h1>
            </div>
        </div>
        <div data-bind="if: chosenPanel">
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="chart"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">
                                        <em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">
                                        <em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">
                                        <em>27 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">
                                        <em>43 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">
                                        <em>11:32 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small">
                                        <em>11:13 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small">
                                        <em>10:57 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                    <span class="pull-right text-muted small">
                                        <em>9:49 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-money fa-fw"></i> Payment Received
                                    <span class="pull-right text-muted small">
                                        <em>Yesterday</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="if: chosenCampaigns">
            <div class="row">
                <div class="col-md-3"><input type="button" class="btn btn-primary" data-toggle="modal" data-target="#formEdit" value="Добавить" /></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw fa-adjust"></i> Кампании
                        </div>
                        <div data-bind="loadingWhen : isLoading" class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Название</th>
                                        <th>Категория</th>
                                        <th>Тип</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: Campaigns">
                                    <tr>
                                        <td data-bind="text: title" />
                                        <td data-bind="text: category.title" />
                                        <td data-bind="text: advType.title" />
                                        <td><i class="fa fa-pencil" data-bind="click: $root.select" data-toggle="modal" data-target="#formEdit"></i></td>
                                        <td><i class="fa fa-crosshairs" data-bind="click: $root.delete"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="formEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <form>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" data-bind="value: title" placeholder="Название" />
                                </div>
                                <div class="form-group">
                                    <select class="form-control" data-bind='options: Cats, optionsText: "title", optionsValue: "categoryId", value: categoryId, optionsCaption: "Выберите категорию"'></select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" data-bind='options: Types, optionsText: "title", optionsValue: "advTypeId", value: advTypeId, optionsCaption: "Выберите тип"'></select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input style="margin-bottom:0" id="editBtn" type="button" data-bind="click:update" class="btn btn-success" value="Добавить" />
                                <button class="btn btn-danger" data-dismiss="modal">Отмена</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>


            <div data-bind="if: chosenSearch">
                <div class="row">
                    <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw fa-adjust"></i> Площадки
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <select class="form-control" data-bind='options: Cats, optionsText: "title", optionsValue: "categoryId", value: categoryId, optionsCaption: "Выберите категорию"'></select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" data-bind='options: Types, optionsText: "title", optionsValue: "advTypeId", value: advTypeId, optionsCaption: "Выберите тип"'></select>
                                </div>
                                <input style="margin-bottom:0" type="button" data-bind="click:searchPlaces" class="btn btn-success" value="Поиск" />
                            </form>
                        </div>
                     </div>
                    </div>
                    <div class="col-md-8">
                        @Html.Partial("~/Views/Webmaster/Places.cshtml")
                    </div>
                </div>
            </div>
    </div>
}
@section scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/handlers")
    @Scripts.Render("~/bundles/plot")
    @Scripts.Render("~/bundles/campaign")
}