﻿@if (Request.IsAuthenticated)
{
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Биржа ссылок</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Оптимизатор", "Index", "Advertiser", routeValues: new { area = "" }, htmlAttributes: new { title = "Оптимизатор" })</li>
                    <li>@Html.ActionLink("Вебмастер", "Index", "Webmaster", routeValues: new { area = "" }, htmlAttributes: new { title = "Вебмастер" })</li>
                    <li>@Html.ActionLink("Финансы", "Index", "Money", routeValues: new { area = "" }, htmlAttributes: new { title = "Финансы" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Здравствуйте, @User.Identity.Name<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Личный кабинет", "Manage", "Account", routeValues: new { area = "" }, htmlAttributes: new { @class = "username", title = "Личный кабинет" })</li>
                            <li class="divider"></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
    {@Html.AntiForgeryToken()}
}