﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
<div class="sidebar">
    <ul class="nav nav-tabs nav-stacked">
        <li style="cursor:pointer" id="panel" class="active">
            <a data-bind="click:panel">
                <div>
                    <div><i class="fa fa-3x fa-home"></i></div>
                    <div>Панель</div>
                </div>
            </a>
        </li>
        <li style="cursor:pointer" id="order">
            <a data-bind="click:order">
                <div>
                    <div><i class="fa fa-3x fa-outdent"></i></div>
                    <div class="title">Вывод средств</div>
                </div>
            </a>
        </li>
        <li style="cursor:pointer" id="order">
            <a data-bind="click:order">
                <div>
                    <div><i class="fa fa-3x fa-pencil-square"></i></div>
                    <div class="title">Реквизиты</div>
                </div>
            </a>
        </li>
    </ul>
</div>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Управление финансами</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Ввод средств
                </div>
            <div class="panel-body">
                @using (@Html.BeginForm())
                {
                    <fieldset>
                        <div class="form-group">
                            @Html.TextBox("Price", null, new { @class = "form-control", placeholder = "Сумма в рублях", autocomplete = "off" })
                        </div>

                        <input class="btn btn-primary" type="submit" value="Пополнить" />
                    </fieldset>
                }
            </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-bars fa-fw"></i> Операции
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id транзакции</th>
                                <th>Сумма, руб</th>
                                <th>Время</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Ops">
                            <tr>
                                <td data-bind="text: tranId" />
                                <td data-bind="text: sum" />
                                <td data-bind="text: time" />
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Баланс
                </div>
                <div class="panel-body">
                    <h1 style="text-align:center;font-size:55px;">@ViewBag.balance</h1>
                    <p><h2 style="text-align:center;font-size:40px; padding-bottom: 10px;">рублей</h2></p>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/inops")
}
