﻿@model LinkExchange.Models.LoginModel

@using (Html.BeginForm("JsonLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
            <div class="form-group">
                @Html.TextBoxFor(m => m.UserName, new { @class="form-control",autofocus = "autofocus", id = "loginName", placeholder="Логин", autocomplete="off" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="checkbox">
                @Html.LabelFor(m => m.RememberMe)
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>
            <input class="btn btn-primary btn-block" type="submit" value="Выполнить вход" />
        @Html.ValidationSummary() 
    </fieldset>
}