﻿@model LinkExchange.Models.RegisterModel

@using (Html.BeginForm("JsonRegister", "Account", FormMethod.Post, new { Id = "registerForm" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
            <div class="form-group">
                @Html.TextBoxFor(m => m.UserName, new {@class="form-control", id = "registerName", autofocus = "autofocus", placeholder="Логин", autocomplete="off"})
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль", autocomplete = "off" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Повторно пароль", autocomplete = "off" })
            </div>
            <input class="btn btn-block btn-success" type="submit" value="Регистрация" />
        @Html.ValidationSummary()
    </fieldset>
}