﻿@model LinkExchange.Models.LoginModel
@{
    ViewBag.Title = "Главная страница";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}
@if (@User.Identity.IsAuthenticated)
{
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
}
else
{
    <div style="padding-top:50px" class="container">
        <h1 style="text-align:center;font-size:65px; padding-bottom: 10px;">Биржа ссылок</h1>
        <div class="row sb">
            <div class="col-md-offset-3 col-md-8 ">
            @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
                </div>
        </div>
        <div class="row loginOr">
            <div class="col-md-offset-4 col-md-4">
                <hr class="hrOr"/>
                <span class="spanOr">или</span>
            </div>
        </div>
        <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class=" panel panel-info" id="loginPanel">
                <div class="panel-heading">
                    <p class="panel-title">Форма входа</p>
                </div>
                <div class="panel-body">
                    @Html.Partial("_Login")

                </div>
                <div class="panel-footer ">
                    Первый раз? <a href="#" id="showRegister">Зарегистрироваться</a>
                </div>
            </div>
        </div>
            </div>
        <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class=" panel panel-success" id="registerPanel">
                <div class="panel-heading">
                    <p class="panel-title">Регистрация</p>
                </div>
                <div class="panel-body">
                    @Html.Partial("_Register")
                    Уже зарегистрированы? <a href="#" id="showLogin">Войти</a>
                </div>
            </div>
        </div>
            </div>
    </div>
}
@section scripts {
    @Scripts.Render("~/bundles/ajaxlogin")
}
