﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Webmaster/WebmasterLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Панель вебмастера</h1>
    </div>
</div>
<div data-bind="if: chosenPanel">
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Доходы вебмастера
                </div>

                <div class="panel-body">
                    <div id="chart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Площадки
                </div>
                <div class="panel-body">
                    <h2 style="text-align:center;font-size:30px; padding-bottom: 10px;">Всего</h2>
                    <h1 style="text-align:center;font-size:55px;" data-bind="text:placecount"></h1>
                    <h2 style="text-align:center;font-size:30px; padding-bottom: 10px;">площадок</h2>
                    <h2 style="text-align:center;font-size:20px; padding-bottom: 10px;">Активно: <span class="label label-success" data-bind="text:placeactive"></span></h2>
                    <h2 style="text-align:center;font-size:20px; padding-bottom: 10px;">На паузе: <span class="label label-warning">0</span></h2>
                    <h2 style="text-align:center;font-size:20px; padding-bottom: 10px;">Отключено: <span class="label label-danger">0</span></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-bind="if: chosenOrder">
    
</div>
<div data-bind="if: chosenPlaces">
    <div class="row">
        <div class="col-md-3"><input type="button" class="btn btn-primary" data-toggle="modal" data-target="#formEdit" value="Добавить" /></div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa-bullhorn fa-fw"></i> Проверка сайта
                </div>
                <div class="panel-body">
                    <form data-bind="submit: check" id="checkform">
                        <div class="form-group">
                            <input id="url" class="form-control" type="text" data-bind="value: url" placeholder="Сайт" />
                        </div>
                        <input style="margin-bottom:0" id="editBtn" type="button" data-bind="click:check" class="btn btn-success" value="Проверить" />
                    </form>
                    <div data-bind="if : Cy() >=0">
                        <h4>ТИЦ: <span class="label label-info" data-bind="text:Cy, loadingWhen : isLoading"></span></h4>
                        <h4>PR: <span class="label label-info" data-bind="text:PR, loadingWhen : isLoading"></span></h4>
                        <h4>Дата регистрации домена: <span class="label label-info" data-bind="text:crDate, loadingWhen : isLoading"></span></h4>
                        <h4>Дата окончания регистрации: <span class="label label-info" data-bind="text:exDate, loadingWhen : isLoading"></span></h4>
                        <h4>Страниц в google: <span class="label label-info" data-bind="text:gindex, loadingWhen : isLoading"></span></h4>
                        <h4>Страниц в yandex: <span class="label label-info" data-bind="text:yindex, loadingWhen : isLoading"></span></h4>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-8">
            @Html.Partial("Places")
        </div>
    </div>
    <div class="modal fade" id="formEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Добавление площадки</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control" type="text" data-bind="value: title" placeholder="Название" />
                        </div>
                        <div class="form-group">
                            <select class="form-control" data-bind='options: Cats, optionsText: "title", optionsValue: "categoryId", value: categoryId, optionsCaption: "Выберите категорию"'></select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" data-bind='options: Types, optionsText: "title", optionsValue: "advTypeId", value: advTypeId, optionsCaption: "Выберите тип"'></select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input style="margin-bottom:0" id="editBtn" type="button" data-bind="click:update" class="btn btn-success" value="Добавить" />
                        <button class="btn btn-danger" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section advs {
    @Scripts.Render("~/bundles/advplace")
}
