﻿<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw fa-adjust"></i> Площадки
    </div>
    <div data-bind="loadingWhen : isLoading" class="panel-body">
        <table class="table table-hover" data-bind="if: AdvPlaces().length">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Категория</th>
                    <th>Тип</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: AdvPlaces">
                <tr>
                    <td data-bind="text: title" />
                    <td data-bind="text: category.title" />
                    <td data-bind="text: advType.title" />
                    <td><i class="fa fa-pencil" data-bind="click: $root.select" data-toggle="modal" data-target="#formEdit"></i></td>
                    <td><i class="fa fa-crosshairs" data-bind="click: $root.delete"></i></td>
                </tr>
            </tbody>
        </table>
        
        <h3 data-bind="ifnot: AdvPlaces().length" style="text-align:center;">Ничего не найдено</h3>
       
    </div>
</div>