﻿<div class="sidebar">
    <ul class="nav nav-tabs nav-stacked">
        <li style="cursor:pointer" id="panel" class="active">
            <a data-bind="click:panel">
                <div>
                    <div><i class="fa fa-3x fa-home"></i></div>
                    <div>Панель</div>
                </div>
            </a>
        </li>

        <li style="cursor:pointer" id="order">
            <a data-bind="click:order">
                <span class="badge m-badge-notification">3</span>
                <div>
                    <div><i class="fa fa-3x fa-paperclip"></i></div>
                    <div class="title">Заявки</div>
                </div>
            </a>
        </li>

        <li style="cursor:pointer" id="places">
            <a data-bind="click:places">
                <div>
                    <div><i class=" fa fa-3x fa-coffee"></i></div>
                    <div class="title">Площадки</div>
                </div>
            </a>
        </li>
    </ul>
</div>