﻿@{
    ViewBag.Title = "WebmasterLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
@{
<input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
@Html.Partial("Sidebar")
<div id="page-wrapper">
    @RenderBody()
</div>
}
@section scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/handlers")
    @Scripts.Render("~/bundles/plot")
    @RenderSection("advs", required: false)
}
